@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px;
    
    
    

}

header {
    background: #17171A;
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 6vh;
    
}
.codeLab {
   color: #E07B67;
   font-family: "Space Grotesk", sans-serif;
   font-size: 40px;
   font-weight: 500;
   line-height: 100%;
   letter-spacing: 0%;
   margin-top: 2vh;
    
}
#paiPesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
span {
    color: #FFFFFF;
}
.pesquisa {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 80%;
    background-color: #202024;
    height: 4vh;
    border-radius: 8px;
    border: 2px;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 16px;
}
main {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    gap: 48px;
    margin-inline: 20px;
    
}
#noticiaPrincipal {
    border: 2px solid #E07B67;
    padding: 40px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    border-radius: 8px;
    background-color: #17171A;
}
time {
    display: flex;
    justify-content: space-between;
}
.horario {
    color: #E07B67;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}
svg {
   display: flex;
   justify-content: flex-end;
   

}
.icon {
  fill: #17171A;
  stroke: #E07B67;
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}
.icon.filled,
.icon:hover {
  fill: #E07B67;
}
.titulo {
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}
.sobre {
    
   color: #AFABB6;
   font-family: "Inter", sans-serif;
   font-weight: 500;
   font-size: 20px;
   line-height: 160%;
   letter-spacing: 0%;
}
#noticiaAntiga {
    border: 2px solid #252529;
    padding: 40px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    border-radius: 8px;
    background-color: #17171A;
}